body {
    background-color: #E7F1F1;
    display:flex;
    flex-direction:row;
    font-family: "Poppins", sans-serif;

}

.main {
    display:flex;
    flex-direction:column;
    width:75%;
}

h1 {
    display:flex;
    flex-direction:row;
    justify-content: center;
    color:black;
    font-weight: 800;
    font-style: normal;
}

#parent-grid {
    display: inline-flex;
    justify-content: center;
   }

.label-grid{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin: 5px;
    
   }
.box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
    width: 7rem;
    height: 7rem;
    border-color: black;
    border: solid 3px;
    margin: 5px;
   }

.color {
    padding-left: 28px;
    padding-right: 28px;
   }

#box-1 {
    background-color:#EA9999;
   }

#box-2 {
    background-color:#FACB9C;
}

#box-3 {
    background-color:#FFE59A;
}

#box-4 {
    background-color:#B6D7A8;
}

#box-5 {
    background-color:#A4C4CA;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 5px;
    height: 20px;
    width: 20px;
}

.button-grid {
    display: flex;
    align-items: center;
    margin-top:80px;
    justify-content:center;
  }
  
.paletteButtons {
    width: 8rem;
    height: 2rem;
    background-color: black;
    color: white;
    border-top-right-radius: 25rem;
    border-bottom-left-radius: 25rem;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-size: 13px;
    border: 0;
    margin: 15px;
  }

  .saved-palettes-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-left: 5px solid black;
    height: 100vh;
    padding-left: 36px;
}

.miniBoxes {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    
}

.hidden{
    display: none;
}

.boxes{
    /* display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row; */
    width: 2rem;
    height: 2rem;
    border-color: black;
    border: solid 3px;
    margin: 3px;
}