body {
    background-color: #E7F1F1;
    display:flex;
    flex-direction:column;

}

h1 {
    display:flex;
    flex-direction:row;
    justify-content: center;
    color:black;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

#parent-grid {
    display: inline-flex;
    justify-content: center;
   }
.label-grid{
    display: inline-flex;
    justify-content: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    align-items:center;
    
   }
.box{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 7rem;
    height: 7rem;
    border-color: black;
    border: solid 3px;
    margin:5px;
    /* src: 
    display: hidden or none */
    }

.color {
    display:flex;
    padding-left: 28px;
    padding-right: 28px;
   }

#box-1 {
    background-color:#EA9999;
   }

#box-2 {
    background-color:#FACB9C;
}

#box-3 {
    background-color:#FFE59A;
}

#box-4 {
    background-color:#B6D7A8;
}

#box-5 {
    background-color:#A4C4CA;
}

.button-grid{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 45px;
    font-family: "Poppins", sans-serif;
  }
  
  .palettes {
    width: 7rem;
    height: 2rem;
    background-color: black;
    color: white;
    border-top-right-radius: 25rem;
    border-bottom-left-radius: 25rem;
    justify-content: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 12px;
    border: 0;
  }


.icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 5px;
    height: 20px;
    width: 20px;
}

.button-grid{
    align-items: center;
    display: flex;
    margin: 100px;
    font-family: "Poppins", sans-serif;
    justify-content: space-evenly
  }
  
.palettes {
    width: 8rem;
    height: 2rem;
    background-color: black;
    color: white;
    border-top-right-radius: 25rem;
    border-bottom-left-radius: 25rem;
    justify-content: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 13px;
    border: 0;
  }
.savePalette {
    width: 8rem;
    height: 2rem;
    background-color: black;
    color: white;
    border-top-right-radius: 25rem;
    border-bottom-left-radius: 25rem;
    justify-content: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 13px;
    border: 0;
}